<%= form_tag("/new_group", method: "post") do %>
  <div class="row step choose_tense">
    <b>Step I: Choose the name</b> 
    <%= text_field_tag 'name', nil, placeholder: 'My extraordinary group' %><br>
  </div>
  <br>
  <div class="row step">
    <b>Step II: Choose groupes</b><br/>
    <br>
    <%= check_box_tag 'groupes[]', '1', checked=false  %> I
    <%= check_box_tag 'groupes[]', '2', checked=false  %> II
    <%= check_box_tag 'groupes[]', '3', checked=false  %> III
    <br/>
    <br>
    <b>...or specifie verbs</b><br>
    <%= text_field_tag 'verbs', nil, placeholder: 'être, aller, venir...' %><br>
    <b>...or exlude verbs </b><br>
    <%= text_field_tag 'exluded_verbs', nil, placeholder: 'être, aller, venir...' %><br>
  </div>
  <%= submit_tag "Create group!"%>
<% end %>