<%= form_tag(practice_draw_path, method: "post") do %>
  <div class="row step choose_tense">
    <b>Step I: Choose tenses</b> <button type="button" id="uncheck_all" data-check="1"> Uncheck all </button><br/>
    <br>
    <% @tenses.each_with_index do |tense, index| %>
      <div class="tenses"><%= check_box_tag 'tenses['+tense.to_s+']', index, checked=@tenses_to_pr ? @tenses_to_pr.include?(index.to_s) : true %> <%= tense.to_s.capitalize.gsub(/[_]/, ' ')%></DIV>
    <% end %>
  </div>
  <br>
  <div class="row step">
    <b>Step II: Choose verbs</b><br/>
    <br>
    Group(s)
    <%= check_box_tag 'groupes[]', '1', checked=true  %> I
    <%= check_box_tag 'groupes[]', '2', checked=true  %> II
    <%= check_box_tag 'groupes[]', '3', checked=true  %> III
    <br/>
    <br>
    <b>...specifie verbs (out of chosen groups)</b><br>
    <%= text_field_tag 'verbs', @add_to_pr, placeholder: 'être, aller, venir...' %><br>
    <b>...exclude verbs (from chosen groups) </b><br>
    <%= text_field_tag 'excluded_verbs', @excl_to_pr, placeholder: 'être, aller, venir...' %><br>
    <% if user_signed_in? %>

    <br>
      <b>...or choose one of your own groups  </b><br>
      <%= select_tag "pgroup_id", options_from_collection_for_select(current_user.pgroups, "id", "name"), prompt: "Choose your group"
%><br><br>
     <%= check_box_tag 'random' %> Choose forms by random
     <%= check_box_tag 'no_follow' %> Don't follow my answers

    <% end %>
  </div>
  <%= submit_tag "Try me!"%>
<% end %>
