<%= form_for(@verb) do |f| %>
  <% if @verb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verb.errors.count, "error") %> prohibited this verb from being saved:</h2>

      <ul>
      <% @verb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :infinitive %><br>
    <%= f.text_field :infinitive %>
  </div>
  <div class="field">
    <%= f.label :translation %><br>
    <%= f.text_field :translation %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.select :group, [['I', 1], ['II', 2], ['III', 3]] %>
  </div>

    <% @tenses.each_with_index do |tense, index| %>
    <% if (index%3) == 0 %>
      <div class="row">
    <% end %>
      <div class="large-4 columns">
        <h3><%= tense.to_s.capitalize.gsub(/[_]/, ' ')%></h3>
        <%= f.fields_for tense do |pr| %>
          <% @forms.each do |form| %>
            <%= pr.label form %>
            <%= pr.text_field form %>
          <% end %>
        <% end %>
      </div>
    <% if (index%3) == 2 %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
