<h1>Listing verbs</h1>
<%= form_tag(verbs_path, method: "get") do %>
  Groupes
  <%= check_box_tag 'groupes[]', '1', @groupes.include?('1')  %> I
  <%= check_box_tag 'groupes[]', '2', @groupes.include?('2')  %> II
  <%= check_box_tag 'groupes[]', '3', @groupes.include?('3')  %> III
  <%= submit_tag "Refresh"%>
<% end %>
<%= link_to image_tag("up.gif", :border => 0), verbs_path(anchor: 'home'), :class => 'up_home' %>
<% l = ('A' .. 'Z').to_a %>
<div id="sorting_options">
  <% l.each do |letter| %>
   <%= link_to letter, verbs_path(anchor: letter) %><br>
  <% end %>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Infinitive</th>
      <th>Translation</th>
      <th>Group</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead> -->

    <% @verbs.keys.sort.each do |starting_letter| %>
      <div id="<%=starting_letter.capitalize %>">
      <%= starting_letter.capitalize %>
      <table>
      <% @verbs[starting_letter].each do |verb| %>
        <tr>
          <td><%= verb.infinitive %></td>
          <td><%= verb.translation %></td>
          <td><%= verb.group %></td>
          <td><%= link_to 'Show', verb %></td>
          <% if current_user && current_user.role == 'admin' %>
          <td><%= link_to 'Edit', edit_verb_path(verb) %></td>
          <td><%= link_to 'Destroy', verb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    </div>
    <% end %>

      
  <!-- </tbody> -->
<!-- </table> -->

<br>
