
<p>
  <strong>Infinitive:</strong>
  <%= @verb.infinitive %>
  <% if user_signed_in? %>
    <br>
    <%= form_tag(add_to_group_path, method: "post") do %>
      <%= select_tag "group_id", options_from_collection_for_select(current_user.pgroups, "id", "name"), prompt: "Add to my group" 
      %>
      <%= hidden_field_tag 'id', @verb.id %>
    <%= submit_tag "Add me!"%>
    <% end %>
  <% end %>

</p>

<p>
  <strong>Translation:</strong>
  <%= @verb.translation %>
  <div id="report_transl">
    <%= form_tag(report_transl_path, method: "post") do %>
      I think this will be better... <%= text_field_tag "transl" %>
      <%= hidden_field_tag 'id', @verb.id %>
    <%= submit_tag "Report!"%>
    <% end %>
  </div>
</p>

<p>
  <strong>Group:</strong>
  <%= @verb.group %>
</p>

<h2> Conjugaison </h2>
 <% @tenses.each_with_index do |tense, index| %>
    <% if (index%3) == 0 %>
      <div class="row">
    <% end %>
      <div class="large-4 columns">
        <h3><%= tense.to_s.capitalize.gsub(/[_]/, ' ')%></h3>

          <% @forms.each do |form| %>
            <%= form %>:
            <%= @verb_forms_tab[tense][form] %>
          <% end %>

      </div>
    <% if (index%3) == 2 %>
      </div>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_verb_path(@verb) %> |
<%= link_to 'Back', verbs_path %>
