<!DOCTYPE html>
<html>
<head>
  <title>ConjugMgr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
    <%= render :partial => 'verbs/search_form' %>

 <% if user_signed_in? && current_user.role == 'admin' %>
 <p> Hello Admin! Your application did miss you! </p>
 <% end %>
 <p class="navbar-text pull-right">
  <%= link_to 'Let\'s do it!', root_path, :class => 'navbar-link' %> |
  <%= link_to 'Verbs list', verbs_path, :class => 'navbar-link' %> |||

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %>
    |
    <%= link_to "Your groups", pgroups_index_path, :class => 'navbar-link'  %>
    |
    <%= link_to "Your stats", stats_path, :class => 'navbar-link'  %>
    |
    <% if current_user.role == 'admin' %>
      <%= link_to "Translations to verify! (#{@translation.count})", translations_path, :class => 'navbar-link'  %>
    <% end %>


  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

  <% end %>
 </p>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

</body>

<footer>
  <hr>
<div>
  <b>Who and why:</b>
  <br>
  The application was created by <%= mail_to "acyganiewicz@gmail.com", "Alicja Cyganiewicz", :class => 'navbar-link'%> as the final project for a master's degree in the field of Electronic information processing at Jagiellonian University.
</div>
<div>
  <b>Goal: </b><br>
  The application serves to practice conjugation of french verbs. For registered users the exercices are adjusted to their progress.
</div>
<div>
  <b>Supervisor</b>:
  <br><span>Dr hab. Janusz Jurek</span>
</div>

<div class="note">
<hr>
  Autorem niniejszego serwisu jest Alicja Cyganiewicz <br>
Serwis ten stanowi integralną część pracy magisterskiej z Elektronicznego Przetwarzania Informacji, przygotowanej pod kierunkiem dr. hab. Janusza Jurka na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
</div>
<div class="copyright">
  Copyright &copy; <%= Time.now.year %> Alicja Cyganiewicz. All rights reserved
</div>
</footer>
</html>
